/* Header */
header {
    border-bottom: 3px solid #800000;
    padding: 1.5em 0;
    background-color: rgb(204, 204, 66);
}

header h1 {
    color: #800000;
}

header h2 {
    font-style: italic;
}

header img {
    float: left;
    padding: 0 30px;
}

.shadow {
    text-shadow: 2px 2px 2px #800000;
}

/* Navigation Bar*/
nav {
    justify-content: center;
    clear: left;
    margin: 0;
    padding: 0;
    background-color: #800000;
    border-bottom: 3px solid #800000;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    position: relative;
    display: inline-block;
}

nav a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Dropdown Menu */
nav li.dropdown {
    position: relative;
}

nav li .dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #800000;
    padding: 0;
    min-width: 180px;
}

nav li:hover .dropdown {
    display: block;
}

/* Section*/
section {
    clear: left;
    padding: 0 20px;
    width: 525px;
    float: right;
}

section h1.mission {
    color: #800000;
    font-size: 150%;
    padding: .5em 0 .25em;
}

section h1.speaker {
    color: #050505;
    font-size: 150%;
    padding: .5em 0 .25em;
}

section h1.ticket {
    color: #800000;
}

section h2 {
    font-size: 120%;
    padding-bottom: .25em;
}

section p {
    padding-bottom: .5em;
}

section blockquote {
    padding: 0 2em;
    font-style: italic;
}

section ul {
    padding: 0 0 1.5em 1.25em;
}

section li {
    padding-bottom: .35em;
}

/* Section Article*/
article {
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

article h1 {
    color: #800000;
}

article img {
    float: right;
    margin: 1em 0 1em 1em;
    border: 1px solid black;
}

/*Aside */
aside {
    width: 215px;
    float: right;
    padding-left: 20px;
}

aside h1 {
    color: #800000;
    font-size: 150%;
    padding: .5em 0 .25em;
}

aside h2 {
    font-size: 120%;
    padding-bottom: .25em;
}

aside img {
    height: 50px;
    width: 50px;
    padding-bottom: 1em;
}

/*footer */
footer {
    clear: both;
    background-color: #800000;
}

footer p {
    color: white;
    padding: 1em 0;
    text-align: center;
}